footer{
    background-color: rgba(30, 79, 255, 0.7);
padding: 10px;
color: white;
display: flex;
flex-direction: row;
}
/* Classe de la div qui contient les 3 logos et le texte du footer */
.reseau{
margin: auto;

}
.titre_reseau{
   margin-left: 10vw;
}
/* logo facebook */
.fb{
    width: 140px;
    height: 100px;
    text-align: center;
}
/* logo instagram */
.insta{
    width: 200px;
    height: 110px;
}
/* logo twitter */
.twitter{
    width: 100px;
    height: 100px;
}