/* Titre de la Page */
h1{
    text-align: center;
    text-decoration: underline;
    padding: 10px 0px 10px 0px;
}
/* classe des 2 images en haut de la page */
.LocoElecHaut{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 60px;
}
/* Id image LocoElecTailleHO */
#LocoElecTailleHO{
    width: 380px;
    height: 140px;
}
/* Id image LocoElecTailleZ*/
#LocoElecTailleZ{
    width: 340px;
    height: 200px;
}

/* Classe LocoElecTailleHO */
.LocoElecTailleHO{
    padding-left: 245px;
    padding-right: 280px;
}
/* Classe LocoElecTailleZ*/
.LocoElecTailleZ{
    padding-right: 220px;
}


/* classe des 3 images en Bas de la page */
.LocoElecBas{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 80px;
}
/* Id image LocoElecTailleN */
#LocoElecTailleN{
    width: 335px;
    height: 140px;
}
/* Id image LocoElecTailleG*/
#LocoElecTailleG{
    width: 380px;
    height: 175px;
}

/* Classe LocoElecTailleN*/
.LocoElecTailleN{
    padding-left: 105px;
    padding-right: 290px;
}
