h1{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: underline;
}
.nouveautes{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding-bottom: 60px;
    padding-top: 36px;
}
.NewWagonFret{
    margin-right: 258px;
}
#NewWagonFret{
    width: 547px;
    height: 272px;
}
#NewVoitureVoyageurs{
    width: 547px ;
    height: 282px;
}