/* Titre de la Page */
h1{
    text-align: center;
    text-decoration: underline;
    padding: 10px 0px 10px 0px;
}
/* classe des 2 images en haut de la page */
.LocoDieselHaut{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 60px;
}
/* Id image LocoDieselTailleHO */
#LocoDieselTailleHO{
    width: 240px;
    height: 180px;
}
/* Id image LocoDieselTailleZ*/
#LocoDieselTailleZ{
    width: 340px;
    height: 200px;
}

/* Classe LocoDieselTailleHO */
.LocoDieselTailleHO{
    padding-left: 245px;
    padding-right: 280px;
}
/* Classe LocoDieselTailleZ*/
.LocoDieselTailleZ{
    padding-right: 220px;
}


/* classe des 3 images en Bas de la page */
.LocoDieselBas{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 80px;
}
/* Id image LocoDieselTailleN */
#LocoDieselTailleN{
    width: 335px;
    height: 140px;
}
/* Id image LocoDieselTailleG*/
#LocoDieselTailleG{
    width: 380px;
    height: 175px;
}

/* Classe LocoDieselTailleN*/
.LocoDieselTailleN{
    padding-left: 105px;
    padding-right: 290px;
}
