/* Classe pour le titre et le texte */
.titre{
    display: flex;
    flex-direction: row;
}
/* lien de la div classe titre */
.titre a{
    padding-right: 300px;
    padding-left: 40px;
    padding-top: 10px;
    color: black;
}

/* Titre de la page */
h1{
    text-decoration: underline;
    padding-top: 10px;
}


/* Page Produit LocomotiveVapeur */
/* Taille HO LocoVapeur*/
/* Id Image LocoVapeurTailleHOVue1 */
#LocoVapeurTailleHOVue1{
    width: 519px;
    height: 336px;
}
/* Id Image LocoVapeurTailleHOVue2 */
#LocoVapeurTailleHOVue2{
    width: 875px;
    height: 250px;
}
/* Id Image LocoVapeurTailleHOVue3 */
#LocoVapeurTailleHOVue3{
    width: 519px;
    height: 336px;
}
/* Id Image LocoVapeurTailleHOVue4 */
#LocoVapeurTailleHOVue4{
    width: 519px;
    height: 336px;
}
/* Id Image LocoVapeurTailleHOVue5 */
#LocoVapeurTailleHOVue5{
    width: 519px;
    height: 336px;
}
/* classe de la div pour l'image et le texte */
.droiteHOVapeur{
    padding-left: 50%;
    font-size: 24px;
}
/* classe pour le lien */
.droiteHOVapeur a{
    color: black;
}
/* classe de la div pour la description du produit */
.descriptionHOVapeur{
    border: 5px black solid;
    padding-left: 20px;
    padding-top: 10px;
    width: 65%;
    height: 100px;
    margin: 50px auto;
}
/* classe de la div de la description du produit en ciblant le paragraphe */
.descriptionHOVapeur p{
    font-size: 24px;
}




/* Taille Z LocoVapeur*/

/* Id Image LocoVapeurTailleZVue1 */
#LocoVapeurTailleZVue1{
    width: 519px;
    height: 336px;
}
/* Id Image LocoVapeurTailleZVue2 */
#LocoVapeurTailleZVue2{
    width: 519px;
    height: 336px;
}
/* Id Image LocoVapeurTailleZVue3 */
#LocoVapeurTailleZVue3{
    width: 670px;
    height: 210px;
}
/* Id Image LocoVapeurTailleZVue4 */
#LocoVapeurTailleZVue4{
    width: 519px;
    height: 336px;
}
/* classe de la div pour l'image et le texte */
.droiteZVapeur{
    padding-left: 50%;
    font-size: 24px;
}
/* classe pour le lien */
.droiteZVapeur a{
    color: black;
}
/* classe de la div pour la description du produit */
.descriptionZVapeur{
    border: 5px black solid;
    padding-left: 20px;
    padding-top: 10px;
    width: 70%;
    height: 110px;
    margin: 50px auto;
}
/* classe de la div de la description du produit en ciblant le paragraphe */
.descriptionZVapeur p{
    font-size: 24px;
}



/* Taille N LocoVapeur*/

/* Id Image LocoVapeurTailleNVue1 */
#LocoVapeurTailleNVue1{
    width: 519px;
    height: 336px;
}
/* Id Image LocoVapeurTailleNVue2 */
#LocoVapeurTailleNVue2{
    width: 519px;
    height: 336px;
}
/* Id Image LocoVapeurTailleNVue3 */
#LocoVapeurTailleNVue3{
    width: 740px;
    height: 240px;
}
/* Id Image LocoVapeurTailleNVue4 */
#LocoVapeurTailleNVue4{
    width: 519px;
    height: 336px;
}
.descriptionNVapeur{
    border: 5px black solid;
    padding-left: 20px;
    padding-top: 10px;
    width: 70%;
    height: 120px;
    margin: 50px auto;
}
.descriptionNVapeur p{
    font-size: 24px;
}
/* classe de la div pour l'image et le texte */
.droiteNVapeur{
    padding-left: 50%;
    font-size: 24px;
}
/* classe pour le lien */
.droiteNVapeur a{
    color: black;
}





/* Taille G LocoVapeur*/
/* Id Image LocoVapeurTailleGVue1 */
#LocoVapeurTailleGVue1{
    width: 435px;
    height: 275px;
}
/* Id Image LocoVapeurTailleGVue2 */
#LocoVapeurTailleGVue2{
    width: 450px;
    height: 265px;
}
/* Id Image LocoVapeurTailleGVue3 */
#LocoVapeurTailleGVue3{
    width: 435px;
    height: 280px;
}

.descriptionGVapeur{
    border: 5px black solid;
    padding-left: 20px;
    padding-top: 10px;
    width: 65%;
    height: 100px;
    margin: 50px auto;
}
.descriptionGVapeur p{
    font-size: 24px;
}






/* Page Produit Locomotive Diesel */
/* Taille HO Locomotive Diesel*/
/* Id Image LocoDieselTailleHOVue1 */
#LocoDieselTailleHOVue1{
    width: 519px;
    height: 336px;
}
/* Id Image LocoDieselTailleHOVue2 */
#LocoDieselTailleHOVue2{
    width: 560px;
    height: 220px;
}
/* Id Image LocoDieselTailleHOVue3 */
#LocoDieselTailleHOVue3{
    width: 450px;
    height: 310px;
}
.descriptionHODiesel{
    border: 5px black solid;
    padding-left: 20px;
    padding-top: 10px;
    width: 60%;
    height: 110px;
    margin: 50px auto;
}
.descriptionHODiesel p{
    font-size: 24px;
}


/* Taille Z Locomotive Diesel*/

/* Id Image LocoDieselTailleZVue1 */
#LocoDieselTailleZVue1{
    width: 519px;
    height: 336px;
}
/* Id Image LocoDieselTailleZVue2 */
#LocoDieselTailleZVue2{
    width: 670px;
    height: 280px;
}
.descriptionZDiesel{
    border: 5px black solid;
    padding-left: 20px;
    padding-top: 10px;
    width: 65%;
    height: 100px;
    margin: 50px auto;
}
.descriptionZDiesel p{
    font-size: 24px;
}

/* Taille N Locomotive Diesel*/

/* Id Image LocoDieselTailleNVue1 */
#LocoDieselTailleNVue1{
    width: 519px;
    height: 336px;
}
/* Id Image LocoDieselTailleNVue2 */
#LocoDieselTailleNVue2{
    width: 540px;
    height: 300px;
}

.descriptionNDiesel{
    border: 5px black solid;
    padding-left: 20px;
    padding-top: 10px;
    width: 65%;
    height: 120px;
    margin: 50px auto;
}
.descriptionNDiesel p{
    font-size: 24px;
}

/* Taille G Locomotive Diesel*/
/* Id Image LocoDieselTailleGVue1 */
#LocoDieselTailleGVue1{
    width: 580px;
    height: 300px;
}
/* classe de la div pour l'image et le texte */
.droiteGDiesel{
    padding-top: 106px;
    padding-left: 106px;
    font-size: 24px;
}
/* classe pour le lien */
.droiteGDiesel a{
    color: black;
}
/* classe de la div pour la description du produit */
.descriptionGDiesel{
    border: 5px black solid;
    padding-left: 20px;
    padding-top: 10px;
    width: 61%;
    height: 100px;
    margin: 50px auto;
}
/* classe de la div de la description du produit en ciblant le paragraphe */
.descriptionGDiesel p{
    font-size: 24px;
}
.LocoDieselTailleG{
    display: flex;
    flex-direction: row;
}





/* Page Produit Locomotive Electrique */
/* Taille HO Plat a Elec */
/* Id Image ElecTailleHOVue1 */
#LocoElecTailleHOVue1{
    width: 519px;
    height: 180px;
}
.LocoElecTailleHO{
    display: flex;
    flex-direction: row;
}
.descriptionHOElec{
    border: 5px black solid;
    padding-left: 20px;
    padding-top: 10px;
    width: 65%;
    height: 150px;
    margin: 50px auto;
}
.descriptionHOElec p{
    font-size: 24px;
}
/* classe de la div pour l'image et le texte */
.droiteHOElec{
    padding-top: 106px;
    padding-left: 106px;
    font-size: 24px;
}
/* classe pour le lien */
.droiteHOElec a{
    color: black;
}

/* Taille Z LocoElec */

/* Id Image LocoElecTailleZVue1 */
#LocoElecTailleZVue1{
    width: 519px;
    height: 336px;
}
/* Id Image LocoElecTailleZVue2 */
#LocoElecTailleZVue2{
    width: 519px;
    height: 245px;
}
.descriptionZElec{
    border: 5px black solid;
    padding-left: 20px;
    padding-top: 10px;
    width: 64%;
    height: 135px;
    margin: 50px auto;
}
.descriptionZElec p{
    font-size: 24px;
}

/* Taille N LocoElec */
/* Id Image LocoElecTailleNVue1 */
#LocoElecTailleNVue1{
    width: 519px;
    height: 336px;
}
/* Id Image LocoElecTailleNVue2 */
#LocoElecTailleNVue2{
    width: 850px;
    height: 250px;
}
.descriptionNElec{
    border: 5px black solid;
    padding-left: 20px;
    padding-top: 10px;
    width: 70%;
    height: 130px;
    margin: 50px auto;
}
.descriptionNElec p{
    font-size: 24px;
}

/* Taille G LocoElec */

.LocoElecTailleG{
    display: flex;
    flex-direction: row;
}


/* Id Image LocoElecTailleGVue1 */
#LocoElecTailleGVue1{
    width: 675px;
    height: 300px;
    padding-left: 25px;
}
/* classe de la div pour l'image et le texte */
.droiteGElec{
    padding-top: 106px;
    padding-left: 106px;
    font-size: 24px;
}
/* classe pour le lien */
.droiteGElec a{
    color: black;
}
/* classe de la div pour la description du produit */
.descriptionGElec{
    border: 5px black solid;
    padding-left: 20px;
    padding-top: 10px;
    width: 75%;
    height: 135px;
    margin: 50px auto;
}
/* classe de la div de la description du produit en ciblant le paragraphe */
.descriptionGElec p{
    font-size: 24px;
}



/* CSS Generale a toutes les pages produits */

/* Lien de la classe droite */
.droite a{
    color: black;
}
/* classe droite */
.droite{
    padding-left: 50%;
    font-size: 24px;
}
/* classe description */
.description{
    border: 5px black solid;
    padding-left: 20px;
    padding-top: 10px;
    width: 65%;
    height: 100px;
    margin: 50px auto;
}
/* paragraphe de la classe description */
.description p{
    font-size: 24px;
}
/* titre de la description */
.titre_description{
    text-decoration: underline;
}