h1{
    text-align: center;
    padding: 10px;
}
.materielroulant{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 10px;
    /* justify-content: space-between; */
    margin-right: 440px;
}
.materielroulantbas{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding-bottom: 50px;
    margin-left: 269px;
}
.locomotives{
    margin-right: 339px;
}
#Locomotives{
    width: 320px;
    height: 220px;
    
}
#WagonsFret{
    width: 400px;
    height: 220px;
}
#automotrices{
    width: 357px;
    height: 183px;
    
}
#VoituresVoyageurs{
    width: 435px;
    height: 126px;
}
.automotrices{
    margin-right: 339px;
}