/* Titre de la Page */
h1{
    text-align: center;
    text-decoration: underline;
    padding: 10px 0px 10px 0px;
}
/* classe des 3 images en haut de la page */
.WagonsFretHaut{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 50px;
}
/* Id image wagonCouvert */
#WagonCouvert{
    width: 300px;
    height: 200px;
}
/* Id image wagonConteneur*/
#WagonConteneur{
    width: 400px;
    height: 220px;
}
/* Id image wagonRebord*/
#WagonRebord{
    width: 410px;
    height: 230px;
}
/* Classe WagonCouvert */
.WagonCouvert{
    padding-left: 65px;
    padding-right: 171px;
}
/* Classe WagonConteneur */
.WagonConteneur{
    padding-right: 160px;
}


/* classe des 3 images en Bas de la page */
.WagonsFretBas{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 50px;
}
/* Id image wagonCiterne */
#WagonCiterne{
    width: 300px;
    height: 200px;
}
/* Id image wagonBache*/
#WagonBache{
    width: 430px;
    height: 250px;
}
/* Id image wagonCerealier*/
#WagonCerealier{
    width: 410px;
    height: 230px;
}
/* Classe WagonCiterne */
.WagonCiterne{
    padding-left: 60px;
    padding-right: 95px;
}
/* Classe WagonBache */
.WagonBache{
    padding-right: 220px;
}