/* Classe pour tous le formulaire */
.formulaireconnexion{
    border: 5px solid black;
    border-radius: 10px;
    width: 500px;
    height: 330px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* classe pour les 2 input */
.formulaire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}
/* Id input Username */
#UserName{
    width: 300px;
    height: 25px;

}
/* Classe Input + label Username */
.UserName{
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
}
/* Id Input MotDePasse */
#Mdp{
    width: 300px;
    height: 25px;
    display: flex;
    flex-direction: column;
}
/* Classe Input + label MotDePasse */
.MotDePasse{
    padding-bottom: 35px;
}
body a{
    color: black;
}