* {
    margin: 0;
    padding: 0;

  }

  /* Barre de navigation */
  /* Lien 1 */
  #cat1, a{
    text-decoration: none;
    color: white;
  }
  /* barre de nav */
  .container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(30, 79, 255, 0.7);
    font-size: 20px;
  }

  /* Logo du site dans la barre de navigation */
  #logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  /* Logo Compte */
  #Compte{
    width: 100px;
    height: 100px;
  }
  /* Icone Deconnection */
  #deco{
    width: 100px;
    height: 100px;
  }
  /* Icone Panier */
  #Panier{
    width: 100px;
    height: 100px;
  }
  /* Tous les liens de la barre de nav */
  .navCat {
    padding-right: 4%;
    text-decoration: none;
    color: white;
  }
  /* Fin de la barre de nav */
  /* Menu déroulant */
  .navCat2 {
    padding: 0 20% 0px 40%;
    color: white;
    position: absolute;
    left: -35%;
    z-index: 1;
  }
  /* Menu déroulant */
  .navCat2 div {
    background-color: rgba(30, 79, 255, 0.7);
  }
  /* Menu déroulant */
  .navCat2 div a {
    text-decoration: none;
    color: white;
    padding: 0 10px;
    line-height: 40px;
  }
    /* Menu déroulant */
    #container2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 17px;
    }
  /* Agrandir le texte menu deroulant */
  .resize {
    animation: resize 0.1s linear 1;
    font-size: 25px;
  }

  @keyframes resize {
    0% {
      font-size: 17px;
    }
    100% {
      font-size: 25px;
    }
  }
 /* Fin du menu déroulant */